<ul>
  <li>
    <a [routerLink]="['/sample-template']">
      Zadanie 1
    </a>
  </li>
  <li>
    <a [routerLink]="['/duplicate']">
      Zadanie 2 i 3
    </a>
  </li>
  <li>
    <a [routerLink]="['/get-data']">
      Zadanie 4
    </a>
  </li>
</ul>
