@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

HTML, BODY {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.mb-0 {
  margin-bottom: 0;
}
