.row {
  margin-bottom: 30px;
}

.box {
  background-color: #cccccc;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.about {
    height: 100%;
  }
}

nav {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      background-color: #cccccc;
      height: 50px;
      flex: 3;
      margin-right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #000000;
      }
    }
  }
}
