<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="box">
        company logo and slogan
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <header class="box">
        header
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav>
        <ul>
          <li>
            <a href="#">
                Nav
            </a>
          </li>
          <li>
            <a href="#">
                Nav
            </a>
          </li>
          <li>
            <a href="#">
                Nav
            </a>
          </li>
          <li>
            <a href="#">
                Nav
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="box about">
        about
      </div>
    </div>
    <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="box">
              quick links
            </div>
          </div>
        </div>
        <div class="row mb-0">
          <div class="col-12">
            <div class="box">
              quick links
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <footer class="box">
          site plan and copyright
        </footer>
      </div>
    </div>
</div>
